/**
 * reset 样式文件
 * @author zhangpeng
 */

html {
  box-sizing: border-box;
  color: @c-text;
}

html,
body {
  height: 100%;
  background: #fff;
}

* {
  box-sizing: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
}

video {
  outline: 0;
}

em,
i {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
}

input,
button {
  border: none;
  border-radius: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

// .app {
//   min-height: 100%;
// }

.van-toast {
  line-height: 2 !important;
  font-size: 30px !important;
  padding: 12px 25px !important;
  border-radius: 10px !important;
}

// alert
.van-dialog{
  .van-dialog__header{
    font-size: 30px;
    line-height: 2;
    padding-top: 30px;
  }
  .van-dialog__message{
    font-size: 26px;
    line-height: 42px;
  }
  .van-dialog__footer{
    button{
      line-height: 100px;
      height: 100px;
      .van-button__text{
        line-height: 100px;
        font-size: 30px;
      }
    }
  }
}