.privacy{
    font-size: 30px;
    line-height: 1.7;
    padding:30px;
    h4{
        font-size: 40px;
        text-align: center;
        padding-bottom:30px;
    }
    dt{
        font-weight: bold;
        font-size: 32px;
        padding-top: 30px;
    }
    dd{
        color: #555;
        
        margin-top: 15px;
        &.indent{
            text-indent: 2em;
        }
    }
    p{
        padding-top: 15px;
    }
    li{
        list-style: decimal inside;
        p{
            padding-top: 0; 
        }
    }
    .footer{
        text-align: center;
        margin-top: 50px;
        p{
            line-height: 1.2;
            color: #777;
        }
    }
}